.wrapper{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.carousel-wrap{
	width: 675px;
	margin: 0 auto;
	overflow: hidden;
}
.carousel{
	list-style-type: none;
	width: 10000px;
}
.carousel__item{
	display: block;
	margin-right: 25px;
	float: left;
}
.carousel__img{
	max-width: 200px;
}
.left-arrow{
	position: absolute;
	top: 86px;
	left: 292px;
	background: #06a5d5;
	border: 40px solid #none;
}
.left-arrow:after, .left-arrow:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.left-arrow:after {
	border-color: rgba(6, 165, 213, 0);
	border-right-color: #06a5d5;
	border-width: 30px;
	margin-top: -30px;
}
.left-arrow:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #none;
	border-width: 87px;
	margin-top: -87px;
}
.arrow-right {
	position: absolute;
	top: 86px;
	left: 947px;
	background: #06a5d5;
	border: 40px solid #none;
}
.arrow-right:after, .arrow-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-right:after {
	border-color: rgba(6, 165, 213, 0);
	border-left-color: #06a5d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow-right:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #none;
	border-width: 87px;
	margin-top: -87px;
}