*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Tahoma, sans-serif;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
/*CAROUSEL*/
.jcarousel {
    position: relative;
    width: 960px;
    height: 600px;
    overflow: hidden;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    width: 960px;
    height: 600px; 
}
.jcarousel img{
    width: 100%;
    height: 100%;
}
.jcarousel-prev, .jcarousel-next{
    position: absolute;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 24px;
    color: #fff;
    top: 250px;
    height: 25px;
    width: 25px;
    background: #756e75;
    border: 1px solid #756e75;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(247,244,247,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(247,244,247,1);
    box-shadow: 0px 0px 10px 0px rgba(247,244,247,1);
    opacity: .7;
}
.jcarousel-prev{
    left: 10px;
}
.jcarousel-next{
    right: 11px;
}
.jcarousel-prev:hover, .jcarousel-next:hover{
    opacity: 1;
}
.jcarousel-pagination{
    position: absolute;
    left: 426px;
    bottom: 10px;
}
.jcarousel-pagination a {
    text-decoration: none;
    float: left;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    opacity: .75;
}
/*SELECT*/
.select{
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkbox-jq{
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkbox-css input[type=checkbox]{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    margin-bottom: 50px;
}
.block{
    display: block;
}
label{
    cursor: pointer;
}
label:after{
    content: ' ';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-sprite.png);
    position: relative;
    top: 3px;
    margin-left: 2px;
}
input[type=checkbox]:checked + label:after {
    background-position: 0 -17px;
}
label:hover:after {
    background-position: 0 -34px;
}
input[type=checkbox]:checked + label:hover:after {
    background-position: 0 -51px;
}
/*NAV*/
.submenu, .subsub {
    display: none;
}
nav{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ff6464;
    width: 100%;
}
.menu{
    width: 80%;
    margin: 0 auto;
}
.menu__item{
    display: inline-block;
    margin: 10px 0px;
    position: relative;
}
a{
    display: block;
    color: #fff;
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
}
.menu__item:nth-child(3):after{
    content: " ";
    display: block;
    position: absolute;
    top: 18px;
    left: 67px;
    width: 8px;
    height: 4px;
    background: url(../img/arrow-down.png);
}
.menu__link:hover{
    color: #000;
}
.submenu{
    display: none;
    position: absolute;
    background: #ff6464;
    width: 200px;
}
.submenu__item:nth-child(3):after{
    content: " ";
    display: block;
    position: absolute;
    background: url(../img/arrow-down.png);
    width: 9px;
    right: 113px;
    top: 100px;
    height: 4px;
}
.submenu__item{
    border-bottom: 1px solid #fff;
}
.submenu__item:last-child{
    border-bottom: none;
}
.submenu__link:hover{
    color: red;
}
.subsub{
    width: 200px;
    background: #ff6464;
    position: absolute;
    right: -200px;
    top: 82px;
}
.subsub__item{
    border-bottom: 1px solid #fff;
}
.subsub__item:last-child{
    border-bottom: none;
}
.subsub__link:hover{
    color: red;
}














